body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(36,32,32);
}

.app {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
  width: 50%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.search-bar button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

h2{
  color: white;
}

.Listing{
  /* margin-top: 5%;  margin-bottom: 5%; */
}

.book-list {    
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 4%;
  justify-content: space-around;
  padding: 0% 2%;
  transition: all 0.3s ease;
}

.book-item {
  /* margin: 1px; */
  transition: transform 0.3s ease; 
}

.book-item img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  object-position: center;
}

.book-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 300px) {
  .book-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

/* ---------------------------------------------- */
.book-detail {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
  width: 100%;
  height: 400px;
  gap: 15px;
}

.book-detail .left img {
  max-width: 250px;
  height: 80%;
  margin-top: 15%;
  object-fit: cover;
  object-position: center;
  transform: rotate(-4deg);
}

.book-detail .right {
  padding: 5px;
  margin-right: 5px;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.book-detail .right h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.book-detail .right h4 {
  margin-bottom: 10px;
}

.book-detail .right p {
  margin-bottom: 10px;
}

.book-detail .details-info {
  display: flex;
  flex-wrap: wrap;
}

.book-detail .details-info p {
  margin-right: 20px;
  text-align: justify;
}

.book-detail .btns {
  display: flex;
  justify-content: end;
  gap: 3%;
}

.book-detail .btns button {
  /* display: flex; */
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-detail div button:hover {
  background-color: #0056b3;
}




/* Add more specific styling for BookDetail content if needed */

button {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}
